
:root{
  --dark: #313154;
  --light: #EEE;
}

.heading{
  font-size: 90%;
  display: block;
	width: 97%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;

	font-weight: 700;
	text-transform: uppercase;
    text-align: center;
	box-sizing: border-box;
	box-shadow: rgb(26, 6, 6);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
  letter-spacing: 10px;
}

.button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;


  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

top: 40;
  left: 650;
  width: 10%;
  height: 60px;
  padding: 10px;

  box-shadow: 5px 5px 15px rgba(15, 182, 63, 0.9);
}
.button:hover,
.button:focus {
  box-shadow: inset 0 0 0 2em var(--light);
}



 



body{
  padding: 10px;
  margin: 0;


  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

}
.card{
float: left;
width: 350px;
height: 400px;
margin: 40px;
background: #fff;

border-radius: 15px;
box-sizing: border-box;
box-shadow: 5px 5px 15px rgba(15, 182, 63, 0.9);
flex-wrap: flex;
align-items: center;


float: left;
	width: 400px;
	flex-wrap: flex;
justify-content: center;
	font-family:roboto;
	border-radius: 18px;
	box-sizing: border-box;

	margin: 30px	;

    font-family: sans-serif;
	padding: 40px  ;

	height: 300px;

  border-radius: 25px;

  font-family: roboto;

  background-color: white

}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(122, 22, 22, 0.06);
  transition: 0.5s ease;


}

.min{
padding-right:30% ;
}
.min_max{

  margin-top: 110px;
  font-size: 90%;
  font-weight: 800;

  text-align: center;
 

  padding: 2%;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;  
 
 
  
}

.card:hover .min_max{

  background-color:  rgba(31, 202, 165, 0.9);
}

.last{
  margin-top: 10%;
  padding-left: 20%;
  font-size: larger;
}
